@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #e4f1fe;
}
cart-items {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2em;
}
.addButton {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #396afc;
  color:#fff;
  font-size: 1em;
  border:none;
}
.addButton:hover {
  background-color: #2948ff; 
  cursor: pointer;
  box-shadow: 1px 1px 4px #000;
}
.newItem {
  z-index: 1;
  position: absolute;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 550px;
  padding:20px 10px;
  margin: 150px 0 20px 0;
  border-radius: 5px;
  background-color:#fff;
  box-shadow: 3px 3px 10px #000;
}
.newItem input, .newItem button {
  box-sizing: border-box;
  width:90%;
  padding: 10px;
  margin: 15px;
  border:none;
  font-size: 1em;
}
.newItem input {
  border-bottom:2px solid #ddd;
}
.newItem button {
  border-radius: 5px;
  background-color: #396afc;
  color:#fff;
}
.newItem button:hover {
  background-color: #2948ff; 
  cursor: pointer;
  box-shadow: 1px 1px 4px #000;
}
.item {
  display: flex;
  justify-content: center;
  width: 100%;
}
.item p {
  max-width: 600px;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:5px 15px;;
  margin:5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;

}
span {
  font-weight: 700;
}
p button {
  font-size: 1em;
  border:none;
  background-color: transparent;
}
p button:hover {
  color:#2948ff;
  cursor: pointer;
}
p button:nth-of-type(3):hover {
  color:#d91e18;
  cursor: pointer;
}